/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body { font-family: Helvetica, Arial;
		font-size: 1em;
		background: #f0f0f0;
	}

.screen-card, .user-card {
	min-height: 60vh;
}

.controls-card {
	margin-top: 30px;
}

// imports

@import 'modules/_message';
@import 'modules/_queries';
